
body.hide-scrollbar::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
    cursor: pointer;
}

body.hide-scrollbar::-webkit-scrollbar-track {
    background-color: #222222;
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 20px;
    border: 2px solid #222222;
}

.show-scrollbar::-webkit-scrollbar {
    width: 12px;
    opacity: 1;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    cursor: grabbing;
    background-color: #222222;
    border-radius: 20px;
    border: 2px solid #ffc107;
}

.cursor {
    display: none;
}

@media screen and (min-width: 960px) {
    body * {
        cursor: none !important;
    }

    .cursor {
        display: initial;
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 11000;
    }

    .cursor-small {
        opacity: 0;
        width: 12px;
        height: 12px;
        left: -6px;
        top: -6px;
        border-radius: 50%;
        background: #e53935;
        border: 1px #aaaaaa solid;
        transform: translate(calc(100vw / 2), calc(100vh * 15% / 100));
        transition: 300ms opacity;
    }

    .cursor-canvas {
        width: 100vw;
        height: 100vh;
    }
}

.loadingOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: -12px;
    background-color: #222222;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    transition: 500ms opacity;
}

.loadingOverlayDivA {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 10px;
}

.loadingOverlayDivB {
    width: 200px;
    height: 6px;
    background-color: #424242;
    border-radius: 3px;
    overflow: hidden;
}

.loadingOverlayDivBA {
    position: relative;
    transform: translateX(-75%);
    width: 200px;
    height: 6px;
    background-color: #ffc107;
    border-radius: 3px;
}

.loadingOverlayDivC {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 10px;
}
